<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>College - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper header-color">
                <div class="float-left">
                    <p class="site-title" id="title">@Html.ActionLink("College", "Index", "Home")</p><span class="slogan">We'll teach you how to do it!</span>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Faculties", "Faculties", "Home")</li>
                            <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <nav>

        </nav>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - All rights seem to be reserved...</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
