@using Models
@model IEnumerable<Faculty>

@{
    ViewBag.Title = "Faculties";
}

<div>
    <table class="tablesorter">
        <thead>
            <tr>
                <th>@Html.ActionLink("Name of Faculty", "Faculties", new {sortBy = ViewBag.NameSort})</th>
                <th>@Html.ActionLink("Vacancies", "Faculties", new { sortBy = ViewBag.VacancySort })</th>
                <th>@Html.ActionLink("Vacancies with scholarship", "Faculties", new { sortBy = ViewBag.VacancyScholarshipSort })</th>
            </tr>
        </thead>
        <tbody>
                @foreach (Faculty f in Model)
                {     
                    <tr>
                        <td>@Html.ActionLink(f.Name, "Faculty", new {id = f.FacultyId})</td>
                        <td>@Html.ActionLink(f.Vacancies.ToString(), "Faculty", new { id = f.FacultyId })</td>
                        <td>@Html.ActionLink(f.ScholarshipVacancies.ToString(), "Faculty", new { id = f.FacultyId })</td>
                    </tr>
                }
        </tbody>
    </table>
    <div id="pager">

    </div>
</div>



